%h1 
    Welcome to the new smartsheet!
- if user_signed_in?
    %div{:class => "logout"}
        = link_to('Logout', destroy_user_session_path, :method => :delete)
    %div{:class => "update-profile"}
        = link_to 'Update Profile', edit_user_path(current_user.id) 
- else
    %div{:class => "register"}
        = link_to "Register", '/users/sign_up'
    %div{:class => "sign-in"}
        = link_to "Sign in", '/users/sign_in'