%h1 
    Welcome to the new smartsheet!
- if user_signed_in?
    %div{:class => "logout"}
        = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
    %div{:class => "register"}
        = link_to "Register", '/users/sign_up'
    %div{:class => "sign-in"}
        = link_to "Sign in", '/users/sign_in'